---
permalink: /sitemap.xml
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="UTF-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9" xmlns:xhtml="http://www.w3.org/1999/xhtml">
{%- for l in locales %}
  <url>
    <loc>{{ site.url }}{% if not l.isDefault %}/{{ l.code }}{% endif %}/</loc>
{%- for a in locales %}
    <xhtml:link rel="alternate" hreflang="{{ a.code }}" href="{{ site.url }}{% if not a.isDefault %}/{{ a.code }}{% endif %}/"/>
{%- endfor %}
    <xhtml:link rel="alternate" hreflang="x-default" href="{{ site.url }}/"/>
  </url>
{%- endfor %}
</urlset>
